@import 'shared-module/assets/scss/themes/sm_default_theme.scss';

.cmp-footer {
    background-color: $base-theme-color-darkblue;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    .logo-container {
        width: 202px;
        height: 91px;
        margin: auto;
        .autofact-logo {
            width: 202px;
            height: 91px;
        }
    }

    @include respond-to('small') {}
    @include respond-to('medium') {}
    @include respond-to('large') {}
    @include respond-to('extra-large') {}
}