@import 'shared-module/assets/scss/themes/sm_default_theme.scss';

.cmp-base-form {
    display: flex;
    flex-direction: column;
    .form-header {
        .form-title {
            font-size: 16px;
            font-family: 'Raleway', sans-serif;
            color: $base-theme-color-darkblue;
            margin-bottom: 25px;
        }
        .alert-danger {
            margin-bottom: 30px;
            font-size: 16px;
            font-family: 'Raleway', sans-serif;
            color: $base-theme-color-rederror;
            background-color: $base-theme-color-white;
            border: none !important;
            padding-left: 0 !important;
        }
    }
    .form-body {
        display: flex;
        flex-direction: column;
    }
    .form-footer {
        padding-top: 20px;
    }
    

    @include respond-to('small') {}
    @include respond-to('medium') {}
    @include respond-to('large') {}
    @include respond-to('extra-large') {}
}